<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19" />
<application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
	  <receiver android:name="mwidget">
		  <intent-filter>
			  <action
				  android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		  </intent-filter>
		  <meta-data
			  android:name="android.appwidget.provider"
			  android:resource="@xml/mwidgetdata" />
	  </receiver>
		
    </application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
